
  .sheet{
    background-color: var(--gray-60);
    color: var(--gray-100);
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;

 }
  .sheet .controls{
    background-color: var(--gray-80);
    flex-basis: 2em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

}
 .sheet .list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
    font-weight: bold;
    padding: 1em;
    overflow: auto;
    text-transform: uppercase;
}
 .sheet p{
    margin-right: 1rem;
}
/*  .sheet p:first-letter{ */
/*     font-size: large; */
/* } */
