body{
  background-color:#424242;
  color:#fafafa;
  font-family: 'Roboto', monospace;
  margin:0;
  overflow:hidden;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  height: 100%;
}

#nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height:50px;
  background-color: #212121;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  text-align:center;
}
#nav button{
  cursor: pointer;
  border: 0;
  display: block;
  height: 50px;
  overflow: hidden;
  top: 0px;
  width: 50px;
  position: fixed;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
}
.hamburger{
  left:0;
}
.settingsbt{
  right:0;
}
.showmorsebt{
  right:50px;
}
#nav  a{
  text-decoration: none;
  color: #efebe9;
  font-family: 'Lobster','Roboto',Sans serif;
  font-size: 21px;
  height: 50px;
  line-height: 50px;
  margin: 0 .5em 0 .5em;
  width: .5em;
}


#container{
  height:100%; 
  background-color:#616161;
  text-align:left;
  padding:1px;
  overflow-y:hidden;
  overflow-x:hidden;
  max-width:600px;
  margin: 0 auto;
  margin-top:50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#chat{
  height:calc(100% - 153px);
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#595959;
  margin:4px;
  padding-left:4px;
  box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
}
#chat p{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
#chat a{
  color:#40c4ff;
  text-decoration:none;
}

#dispbar{
  font-family: 'Roboto',Sans serif;
  font-size: 18px;
  height: 45px;
  /*line-height: 45px;*/
  margin: 0 .5em 0 .5em;
}

#timebar{
  width:100%;
  height:2px;
  color:green;
}
#timebar_bar{
  background-color:white;
  width:10%;
}


#key{
  margin-left:20px;
  margin-right:20px;
  background-color:#212121;
  color:#e6e6e6;
  font-family: 'Roboto', monospace;
  font-size: 21px;
  position:fixed;
  bottom:0px;
  left:0px;
  height:50px;
  width:calc(100% - 40px);
  text-align:center;
  box-shadow: 0 -2px 5px rgba(0,0,0,.26);
}
#key::after{
  content: '<>';
  font-size: 21px;
  height: 50px;
  line-height: 50px;
}

@media only screen and (min-width: 500px) {
    #key {
      width:450px;
      left: calc(50% - 250px);
    }
}

er{
  color:#333333;	
}


.morseListContainer{
  display:none;
  background-color:white;
  position:fixed;
  right:0;
  top:50px;
  width:180px;
  height:calc(100% - 50px);
  overflow-y:auto;
  font-size:0;
  background-color:#efebe9;
  overflow:hidden;
  transition-duration: 0.5s;
  animation:animateshow 0.4s
}
@keyframes animateshow{from{height:0%;opacity:0} to{height:100%;opacity:1}}
@media (min-width:960px){
	.morseListContainer{
	  display:block;
	}
}
.morseListContainer button{
  cursor: pointer;
  border: 0;
  height: 40px;
  overflow: hidden;
  background-color:#efebe9;
  color:#212121;
  outline-style:none;
}

#morseList{
  width:100%;
  height:calc(100% - 40px);
  background-color:#e0e0e0;
  color:#000;
  font-size:16px;
  font-family:monospace;
  overflow-Y:auto;
  padding-left:10px;
  padding-top:5px;
  column-count:2;
  column-rule: 1px solid #bdbdbd;
}
#morseList p{
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}


.menuContainer{
  height:100%;
  width:180px;
  position:fixed;
  top:0;
  left:0;
  display:none;
  background-color: #212121;
  box-shadow: 0 4px 10px rgba(0,0,0,.6);

}
.links,.menuHeader{
  margin-left:10px;
}
.menuHeader a{
  cursor:pointer;
  color:#f2f2f2;
  text-decoration:none;
}
.links p{
  height:5opx;
  line-height:50px;
  cursor:pointer;
  color:#f2f2f2;
}
.links p:hover{
  transition-duration: 0.5s;
  color:#bfbfbf;
}
.menuContainer button{
  cursor: pointer;
  border: 0;
  height: 50px;
  overflow: hidden;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
}


.settingsContainer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% + 60px);
  display:none;
  background-color:#212121;
  animation:animateshow 0.4s
}
#container2{
  background-color:#212121;
  height:100%; 
  text-align:left;
  padding:1px;
  max-width:600px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media (min-width:1300px){
.settingsContainer{
	  width:calc(50% - 350px);
}
}

.stbt{
  cursor: pointer;
  border: 0;
  height: 50px;
  width: 50px;
  overflow: hidden;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
  float:left;
}

.stt{
  font-family: 'Roboto', monospace;
  height:50px;
  margin:0;
  line-height:50px;
  text-align:center;
  margin-right:50px;
}







