volumes:
  morsechatgodb_staging: null
networks:
  traefik-proxy:
    external: true
  default: null
services:
  morse:
    image: ghcr.io/robalb/morsechat:sha-4754b3165ab60f58e7c329849a7d08c9c5904c5d
    expose:
      - '80'
    restart: unless-stopped
    environment:
      PORT: 8080
      SQLITE_PATH: /app/backend/db/master.sqlite
      SECRET: ${SECRET}
    volumes:
      - morsechatgodb_staging:/app/backend/db
      - ./filters/:/app/backend/filters
    labels:
      - traefik.enable=true
      - traefik.http.routers.morsego_staging.rule=Host(`morse-staging.halb.it`)
      - traefik.http.routers.morsego_staging.entrypoints=websecure
      - traefik.http.routers.morsego_staging.tls=true
      - traefik.http.routers.morsego_staging.tls.certresolver=myresolver
    networks:
      - traefik-proxy
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: '1'
