
.chat{
    background-color: var(--gray-70);
    box-shadow: var(--shadow-1);
}

.loading, .info{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatContent{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.chatContent p{
    white-space: pre-wrap;
    color: var(--gray-95);
}

.chatContent span:nth-child(1){
    margin-right: 1rem;
    color: var(--blue-2);
}

.chatContent span:nth-child(2){
    display: inline;
    color: white;
}
.chatContent span:nth-child(3){
    display: none;
    color: white;
}
.chatContent.showText span:nth-child(2){
    display: none;
}
.chatContent.showText span:nth-child(3){
    display: inline;
}
