
.key{
    background-color: var(--gray-80);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.key_bt{
    width: 70%;
    height: 100%;
    background-color: var(--gray-95);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: var(--shadow-1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.key_bt:active{
    /* apply programmatically (?) maybe applying manually  from js the property is better */
    opacity: .3;
}

.key .settings_invisible{
    opacity: 0;
    visibility: hidden;
}