
.online_container{
    padding: 0 .2rem 0 1rem;
    /* outline: 1px solid yellow; */
    overflow:hidden;
}

.statusContainer{
  height: 4rem;
  display: flex;
  align-items:center;
}
.online_container hr{
  border:0;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 2px solid rgba(0,0,0,0.5);
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.online_container h2{
    margin-top: 0;
}

.online{
    overflow-y: auto;
    max-height: calc(100% - 4rem - 5rem);
    /* outline: 1px solid pink; */
    padding-bottom: 1rem;
}

.online > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}
.online .left{
    display: flex;
    align-items: center;
    height: 100%;
}

.online .left button{
  all: unset;
  cursor: pointer;
}
.online .left button:hover{
  text-decoration: underline;
}
.online .left button:focus-visible p{
  outline: 1px solid white;
}

.online .typing {
  margin-left: 1rem;
}

.online .typing div {
  width: 13px;
  height: 13px;
  background-color: var(--gray-95);
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.online .typing div:first-child {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(0.4) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  } 40% { 
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}

.status{
  display:inline;
  color: black;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--orange-gradient);
}
.status.ws_online{
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: var(--blue-gradient);
}
.status.a_1{
  animation: resize 1s;
}
.status.a_2{
  animation: resize2 1s;
}
@keyframes resize{
  0% {padding: 2px 5px 2px 5px}
  20% {padding: 2px 15px 2px 15px}
  100% {padding: 2px 5px 2px 5px}
}
@keyframes resize2{
  0% {padding: 2px 5px 2px 5px}
  20% {padding: 2px 15px 2px 15px}
  100% {padding: 2px 5px 2px 5px}
}
