html,body{
  background-color:#424242;
  background-color:#333333;
  color:#fafafa;
  font-family: 'Roboto', monospace;
  margin:0;
  overflow:hidden;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* https://s3-us-west-2.amazonaws.com/s.cdpn.io/154/footer_lodyas.png */
     background: #333333 url("bg.png");

}

#nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height:50px;
  background-color: #212121;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  text-align:center;
}
#nav button{
  cursor: pointer;
  border: 0;
  display: block;
  height: 50px;
  overflow: hidden;
  top: 0px;
  width: 50px;
  position: fixed;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
}
.hamburger{
  left:0;
}
.users{
	left:50px;
}
.settingsbt{
  right:0;
}
.showmorsebt{
  right:50px;
}
#nav  a{
  text-decoration: none;
  color: #efebe9;
  font-family: 'Roboto',monospace,Sans serif;
  font-size: 21px;
  height: 50px;
  line-height: 50px;
  margin: 0 .5em 0 .5em;
  width: .5em;
  cursor:pointer;
}


.dropdown-content {
  position:absolute;
  top:50px;
  left:50%; 
  width:200px;
  max-height:80%;
  overflow-y:auto;
  margin-left:-100px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor:pointer;
}
.dropdown-content a:hover {
  text-decoration: underline;
}

#users-list{
  border-top:1px solid #1a1a1a;
  position:absolute;
  top:50px;
  left:50px; 
  width:150px;
  max-height:80%;
  padding-top:0;
  display: none;
  position: absolute;
  background-color: #212121;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  transition-duration: 0.5s;
  animation:animateshow2 0.6s
}
@media (min-width:1000px){
	#users-list{
	  display:block;
	}
}


@keyframes animateshow2{from{max-height:0%;;opacity:0} to{max-height:80%;opacity:1}}
.users-list-topbar{
height:40px;
margin:0;
}
.users-list-bt{
  border: 0px;
  width: 40px;
  height: 40px;
  color:#efebe9;
  background-color: #212121;
  outline-style:none;
  cursor: pointer;
}
.users-list-topbar p{
  color:#efebe9;
  text-align:center;
  font-family: 'Roboto',monospace,Sans serif;
  font-size: 21px; 
  height:40px;
  line-height:40px;
  /*i have no idea of what i'm doing. please help */
  position:relative;
  top:-62px;
  pointer-events:none;  
}
#users-list a{
    padding: 5px 10px;
    display: block;
  color:#d9d9d9;
  cursor:pointer;
  text-decoration:none;
}

.spinner {
  margin-left: 4px;
  text-align: center;
  padding:0;
}

.spinner > div {
	margin:0;
	padding:0;
  width: 13px;
  height: 13px;
  background-color: #595959;
  border-radius: 0%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.2s;
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.2) }
  40% { -webkit-transform: scale(0.4) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  } 40% { 
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}




#container{
  height:100%; 
  background-color:#616161;
  background-color:#424242;
  text-align:left;
  padding:1px;
  overflow-y:hidden;
  overflow-x:hidden;
  max-width:600px;
  margin: 0 auto;
  margin-top:50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#chatContainer{
  height:calc(100% - 153px);
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#595959;
  background-color:#424242;
  margin:4px;
  margin-bottom:0;
  padding-left:4px;
  box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow:inset 0 -5px 20px rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
}
#chatContainer p{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
#chatContainer a{
  color:#80d4ff;
  cursor:pointer;
  text-decoration:none;
}
#chatContainer a:active{
	color:#99ddff;
}
#radiobt{
	background-color:rgba(224, 224, 224,0.2);
	color:rgb(224, 224, 224);
	  font-size: 35px;
      line-height: 1;
	  height:35px;
	width:35px;
	position:relative;
	bottom:100px;/* key.height + radiobt.height + margin(15px) */
	left:calc(100% - 50px); /*  radiobt-width + margin(15px) */
	border-radius:50px;
	cursor:pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display:none;
}

#dispbar{
  font-family: 'Roboto',monospace,Sans serif;
  font-size: 18px;
  height: 45px;
  /*line-height: 45px;*/
  margin: 0 .5em 0 .5em;
}

#timebar{
  width:100%;
  height:2px;
  color:green;
}
#timebar_bar{
  background-color:#808080;
  width:10%;
}

.keyContainer{
  text-align:center;
}
#key{
  margin-top:0;
  background-color:#212121;
  color:#e6e6e6;
  font-family: 'Roboto', monospace;
  font-size: 21px;
  border:0;
  height:50px;
  width:calc(100% - 40px);
  box-shadow: 0 -2px 5px rgba(0,0,0,.26);
}
#key::after{
  content: '<>';
  font-size: 21px;
  height: 50px;
  line-height: 50px;
}

@media only screen and (min-width: 500px) {
    #key {
      width:450px;
    }
}

#phraseDisp span{
  color:#1a1a1a;	
}


.morseListContainer{
  display:none;
  background-color:white;
  position:fixed;
  right:0;
  top:50px;
  width:180px;
  height:calc(100% - 50px);
  overflow-y:auto;
  font-size:0;
  background-color:#efebe9;
  overflow:hidden;
  transition-duration: 0.5s;
  animation:animateshow 0.4s
}
@keyframes animateshow{from{height:0%;opacity:0} to{height:100%;opacity:1}}
@media (min-width:960px){
	.morseListContainer{
	  display:block;
	}
}
.morseListContainer button{
  cursor: pointer;
  border: 0;
  height: 40px;
  overflow: hidden;
  background-color:#efebe9;
  color:#212121;
  outline-style:none;
}

#morseList{
  width:100%;
  height:calc(100% - 40px);
  background-color:#e0e0e0;
  color:#000;
  font-size:16px;
  font-family:monospace;
  overflow-Y:auto;
  padding-left:7px;
  padding-top:5px;
  column-count:2;
  /* column-rule: 1px solid #bdbdbd; */
  
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}
#morseList p{
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}
#morseList a{
  color:#0066ff;
  text-decoration:underline;
  cursor:pointer;
}


.menuContainer{
  height:100%;
  width:180px;
  position:fixed;
  top:0;
  left:0;
  display:none;
  background-color: #212121;
  box-shadow: 0 4px 10px rgba(0,0,0,.6);

}
.links{
  margin-left:15px;	
}
.menuHeader button{
  margin-left:5px;
}
.menuHeader{
	border-bottom: 1px solid #cccccc;
}
.menuHeader a{
  cursor:pointer;
  color:#f2f2f2;
  text-decoration:none;
}

.links a{
  text-decoration:none;
  height:5opx;
  line-height:50px;
  cursor:pointer;
  color:#f2f2f2;
}
.links p:hover{
  transition-duration: 0.5s;
  color:#bfbfbf;
}
.links .icon-32{
  margin-right:5px;
  vertical-align:middle
	
}

.menuContainer button{
  cursor: pointer;
  border: 0;
  height: 50px;
  overflow: hidden;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
}


.settingsContainer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% + 60px);
  display:none;
  background-color:#212121;
  animation:animateshow 0.4s
}
#container2{
  background-color:#212121;
  height:100%; 
  text-align:left;
  padding:2px;
  max-width:600px;
  margin: 0 auto;
  overflow-y:scroll;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media (min-width:1300px){
.settingsContainer{
	  width:calc(50% - 350px);
}
}

.stbt{
  cursor: pointer;
  border: 0;
  height: 50px;
  width: 50px;
  overflow: hidden;
  color:#efebe9;
  background-color:#212121;
  outline-style:none;
  float:left;
}

.stt{
  font-family: 'Roboto',monospace, sans-serif;
  height:50px;
  margin:0;
  line-height:50px;
  text-align:center;
  margin-right:50px;
}
#container2 a{
	color:white;
}
#rangeCont{
	height:50px;
	width:100%;
}
#speedRange{
	box-sizing:border-box;
	width:70%;
}
#dotSpeedDisp{
	color:white!important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
		  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
	padding:0;
	padding-left:2px;
	padding-right:4px;
	height:40px;
}
td:nth-child(2){
 padding:0;
}
td input{
	width:100%;
	height:100%;
	border-radius:0px;
	/*replace calc(100% - 4px) - 4px is the padding of the box. it is calculated in the width if this property is used*/
	box-sizing:border-box;
	background-color:#fafafa;
	border:0;
	padding-left:4px;
	margin:0;
	border:0;
	border-bottom: 2px solid #bdbdbd;	

}
.button{
	border-radius:2px;
	height:40px;
	font-family: 'Roboto',arial, sans-serif;
	border:0px;
	background-color:#fafafa;
	margin-bottom:4px;
	cursor:pointer;
	color:#212121;
	  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button:active{
	box-shadow: 0 0 0 rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color:#eeeeee;
}
#stringInput{
	  font-family: 'Roboto',monospace,arial;
		border-radius:2px;
		background-color:#fafafa;
		height:40px;
	width:100%;
	box-sizing:border-box;
	box-shadow:inset 0 0 0 rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0.19),inset 0 6px 6px rgba(0,0,0,0.23);
	border:0;
border-top: 2px solid #424242;	
border-bottom: 2px solid black;	
}


.modal {
	display: none;/*table to show*/
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.vcenter{
	display: table-cell;
    vertical-align: middle;
}


.modalContent {
    background-color: #e0e0e0;
    margin:auto;
    padding: 0px;
    border: 1px solid #888;
    max-width: 500px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family: 'Roboto',arial, sans-serif;
}
.modalBt{
  cursor: pointer;
  border: 0;
  height: 40px;
  width: 40px;
  overflow: hidden;
  background-color:#e0e0e0;
  color:#212121;
  outline-style:none;
  float:left;
}
.modalContent h2{
    text-align:center;
	margin:0;
	margin-right:50px;
	padding:0;
	line-height:40px;
	color:#212121;
	color:#333333;
}
#popupContent{
	padding:4px;
	background-color:#f5f5f5;
	color:#212121;
}
#popupContent b{
	margin-left:2px;
	background-color:#e0e0e0;
}


#chatPopup{
	
}

