volumes:
  morsechatgodb: null
networks:
  traefik-proxy:
    external: true
  default: null
services:
  morse:
    image: ghcr.io/robalb/morsechat:sha-74235ae1b6a78dc8cf3864ff3f4c35d0e9a0f30f
    expose:
      - '80'
    restart: unless-stopped
    environment:
      PORT: 8080
      SQLITE_PATH: /app/backend/db/master.sqlite
      SECRET: ${SECRET}
    volumes:
      - morsechatgodb:/app/backend/db
      - ./filters/:/app/backend/filters
    labels:
      - traefik.enable=true
      - traefik.http.routers.morsego.rule=Host(`morse.halb.it`)
      - traefik.http.routers.morsego.entrypoints=websecure
      - traefik.http.routers.morsego.tls=true
      - traefik.http.routers.morsego.tls.certresolver=myresolver
    networks:
      - traefik-proxy
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 900M
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: '1'
