
.chat{
    background-color: var(--gray-70);
    box-shadow: var(--shadow-1);
    padding: 1rem;
    overflow-y: auto;
}
.chat span{
    color: var(--blue-2);
}
.chat .you span{
    color: var(--blue);
}

.loading{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}