
.preview{
    background-color: var(--gray-80);
}
.preview .progress{
    height: 2px;
    width: 100%; /* change this with an animation */
    background-color: var(--blue-2);
    opacity: .8;
    /* background-image: var(--blue-gradient-3); */
}
.preview .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
}