div.app-container{
    height:100%;
    display:flex;
    flex-direction: column;
}

header{
    background-color: var(--gray-50);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 0 0.8em;
}
header div{
    display: flex;
}
header .header-bt-left{
    margin-left: 1em;
}
header .header-bt-right{
    margin-right: 0.4em;
}

main{
    height: calc(100% - var(--header-height));
    width:100%;
    background-color: var(--gray-90);
    background-color: #132034;
    background-color: #14181e;
    overflow: hidden;
    
    display: grid;
    grid-template-columns:minmax(15em, 2fr) 1fr 20em 38em 1fr 15em;
    grid-template-rows: 4em 1fr 4em;
    grid-template-areas: 
        ".    . side preview . sheet"
        "info . side chat . sheet"
        "info . side key . sheet";

}

main .preview{
    /* floating (? maybe only hidden, onclick it appears by sliding from top, causing layout shift to the bottom) on mobile */
    grid-area: preview;
    z-index: 2;
}
main .chat{
    grid-area: chat;
    z-index: 2;
}
main .key{
    grid-area: key;
    z-index: 2;
}

main .side{
    grid-area: side;
    z-index: 2;
}

main .sheet{
    grid-area: sheet;
    z-index: 2;
}

main .info{
    grid-area: info;
    z-index: 2;
}

/* sheet styles */
 main .sheet{
    background-color: var(--gray-90);
    background-color: #584a7d30;
    color: var(--gray-100);
    display: flex;
    flex-direction: column;
 }
 main .sheet .controls{
    background-color: var(--gray-80);
    flex-basis: 2em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

}
main .sheet .list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
    padding: 1em;
    overflow: auto;
}

/* info styles */

main .info{
    padding-left: 1.5rem;
    -webkit-font-smoothing: antialiased;
}
main .info h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    margin: 15px 0;

    background-color: var(--golden);
    background-image: linear-gradient( var(--golden-gradiant));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .info p, main .info h3{
    margin: 7px 0;
}
main .info a{
    margin-top: 1rem;
    display: inline-block;
}


/* preview, chat, key */

main .preview{
    background-color: var(--gray-80);
}
main .preview .progress{
    height: 2px;
    width: 100%; /* change this with an animation */
    background-color: var(--golden);
    box-shadow: 0px 1px 12px 1px rgba(255, 128, 122, 1);
    opacity: .8;
    background-image: linear-gradient( var(--golden-gradiant));
}
main .preview .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
}

main .key{
    background-color: var(--gray-80);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}
main .key button{
    width: 70%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
main .key button.active{
    /* apply programmatically (?) maybe applying manually  from js the property is better */
    background-color: rgba(0,0,0,0.2);
}

main .chat{
    background-color: rgba(85, 85, 85, 0.12);
    padding: 1rem;
}
main .chat span{
    color: var(--golden);
}

.blur{
 grid-area: 1 / 1 / -1 / -1;
 z-index: 1;
 filter:blur(90px);
 opacity: .4;
 overflow: hidden;
}