div.app-container{
    height:100%;
    display:flex;
    flex-direction: column;
}

header{
    background-color: var(--gray-50);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 0 0.8em;
}
header div{
    display: flex;
}
header .header-bt-left{
    margin-left: 1em;
}
header .header-bt-right{
    margin-right: 0.4em;
}

main{
    height: calc(100% - var(--header-height));
    width:100%;
    background-color: var(--gray-70);
    overflow: hidden;
    
    display: grid;
    grid-template-columns:minmax(15em, 2fr) 1fr 20em 38em 1fr 15em;
    grid-template-rows: 4em 1fr 4em;
    grid-template-areas: 
        ".    . . preview . sheet"
        "info . side chat . sheet"
        "info . side key . sheet";

}

main .preview{
    /* floating (? maybe only hidden, onclick it appears by sliding from top, causing layout shift to the bottom) on mobile */
    grid-area: preview;
    z-index: 2;
}
main .chat{
    grid-area: chat;
    z-index: 2;
    box-shadow: var(--shadow-1);
}
main .key{
    grid-area: key;
    z-index: 2;
}

main .side{
    grid-area: side;
    z-index: 2;
}

main .sheet{
    grid-area: sheet;
    z-index: 2;
    box-shadow: var(--shadow-1);
}

main .grid-info{
    grid-area: info;
    z-index: 2;
}

/* sheet styles */
 main .sheet{
    background-color: var(--gray-60);
    color: var(--gray-100);
    display: flex;
    flex-direction: column;

 }
 main .sheet .controls{
    background-color: var(--gray-80);
    flex-basis: 2em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

}
main .sheet .list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
    font-weight: bold;
    padding: 1em;
    overflow: auto;
}
main .sheet p{
    margin-right: 1rem;
}
main .sheet p:first-letter{
    color: var(--pastel-red);
}

/* info styles */



/* preview, chat, key */

main .preview{
    background-color: var(--gray-80);
}
main .preview .progress{
    height: 2px;
    width: 100%; /* change this with an animation */
    background-color: var(--golden);
    box-shadow: 0px 1px 12px 1px rgba(255, 128, 122, 1);
    opacity: .8;
    background-image: var(--golden-gradiant);
}
main .preview .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
}

main .key{
    background-color: var(--gray-80);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}
main .key button{
    width: 70%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-image: var(--red-gradiant);
    background-size: 200% auto;
    box-shadow: var(--shadow-1);
}
main .key button.active{
    /* apply programmatically (?) maybe applying manually  from js the property is better */
    opacity: .3;
}

main .chat{
    background-color: var(--gray-60);
    padding: 1rem;
}
main .chat span{
    color: var(--pastel-yellow);
}
main .chat .you span{
    color: var(--pastel-red);
}


/** side online */
main .side{
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}
main .side > div{
    padding: 1rem;
    padding-right: .2rem;
    background-color: var(--gray-80);
    box-shadow: var(--shadow-1);
}
main .side > div h2{
    margin-top: 0;
}
main .side .online{
    flex-grow: 1;
    max-height: 20rem;
    overflow-y: auto;
}

main .side .online > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}
main .side .online .left{
    display: flex;
    align-items: center;
    height: 100%;
}
.online .typing {
  margin-left: 1rem;
}

.online .typing div {
  width: 13px;
  height: 13px;
  background-color: var(--gray-95);
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.online .typing div:first-child {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(0.4) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  } 40% { 
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}

/* side controls */
main .side .sidecontrols{
    flex-grow: 1;
    margin-top: 2rem;
}