
.controls{
    padding: 1rem;
}
.controls div{
    display: flex;
}
.controls p{
    margin-bottom: 0;
    margin-top: .6rem;
}
.controls h2{
    margin-top: 0;
}
.controls button{
    margin-top: .6rem;
}

.keybindings{

}

.dialects{

}
