
.header{
    background-color: var(--gray-60);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;
    overflow: hidden;
}
.header > div{
    display: flex;
}
